.container{
    margin-bottom: 55px;
}
.orange-bg{
    background-color: #fdeeed;
    border-radius: 10px;
    background-size: 100%;
}
.price{
    color: #ff136f;
}
.carousel-item{
    padding-left: 40px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.resizing{
    padding: 20px;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-image: linear-gradient(to bottom, rgb(80, 219, 80), rgb(134, 80, 134));
}
.cat2{
    background-image: linear-gradient(to bottom, rgb(30, 135, 143), rgb(4, 63, 55));
}
.cat3{
    background-image: linear-gradient(to bottom, rgb(49, 7, 44), rgb(197, 119, 197));
}
.categories h1{
    color: whitesmoke;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: rgb(255, 255, 255);
    border-top: none;
}
#subscribe{
    height: 300px;
}
footer{
    text-align: center;
}